.content {
    position: absolute;
    top: 65px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow-y: scroll;
  
  }
  
  .content-mob {
    position: absolute;
    top: 113px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow-y: scroll;
  
  }
  
  .example-card {
    width: 30%;
    margin: 15px;
  }

  .example-card:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
  }
  
  .example-header-image {
    background-image:  url('https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fmeta-l.cdn.bubble.io%2Ff1672952221146x417310664985390140%2FChatbot.png?w=64&h=64&auto=compress&dpr=1.25&fit=max');
    background-size: cover;
    margin: 45px 0px -60px 18px;
    width: 47px;
    height: 47px;
    box-shadow: 0px 0 30px rgba(22, 255, 220, 0.2); 
  
    
  }
 

  .mat-drawer {
  
    position: fixed;
    
    width: 270px;
  }
  
  .example-sidenav-content:first-child {
    margin: 10px 5px 5px 5px;
  }
  
  .list-width {
    width: 200px;
  
  }
  
  .list-item:hover {
    background-color: rgba(83, 83, 83, 0.178);
    cursor: pointer;
  }
  .example-card-bot {
    max-width: 750px;
    margin: 20px 8px 0px 80px;
    height: 90px;
  }
  .example-card-bot-image {
    background-size: cover;
    
  }



  .btn-tag {
    background-color: #ECEFF1;
    text-transform: capitalize !important;

    margin: 60px 8px 0px 20px;
    box-shadow: none;
}

.btn-rounded {
  --mdb-btn-border-radius: 10rem;
  border-radius: var(--mdb-btn-border-radius);
}

.btn-tag:hover {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .25), 0 3px 10px 5px rgba(0, 0, 0, 0.05) !important;
  background-color: white;
}

.card{
 
  width: 400px;
}

.ff{
  width: 180px;
}
.mat-chip-listbox{
  margin: 20px 0px 0px 30px;
}

 .card{
  margin: 20px 8px 0px 70px;
  width: 700px;
}



.textleft{
  text-align: left;
}

.m-0{
  text-align: left;
  
}