<mat-toolbar color="primary" class="mat-elevation-z8">
  <button (click)="drawer.toggle()" mat-icon-button>
      <mat-icon>menu</mat-icon>
  </button>
  <span>MTA</span>
  <span class="example-spacer"></span>

 
  <span class="material-icons" style="margin: 10px;" matbutton>account_circle</span>
 
  <span class="material-icons">share</span>

  
</mat-toolbar>
<mat-drawer-container autosize>
  <mat-drawer #drawer opened="true" mode="side" position="start">
    <mat-tab-group>
      <mat-tab label="History" mat-align-tabs="center"> </mat-tab>
      <mat-tab label="Toolbox" mat-align-tabs="end"> </mat-tab>
   
    </mat-tab-group>
  </mat-drawer>
  <mat-drawer-content>
      <div style="text-align: center;min-height: 600px;">

          <router-outlet></router-outlet>
          </div>
  </mat-drawer-content>
</mat-drawer-container>